* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000 !important;
  text-decoration: none
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.wrap {
  max-width: 950px;
  margin: 0 auto;
}

body {
  background-color: #eca8f5;
}

.title {
  position: fixed;
  top: 10px;
  left: 10px;
  color: rgb(136, 25, 136);
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  padding-top: 70px;
}

.item {
  padding: 24px;
}

.container__inner {
  background-color: rgb(255, 255, 255);
}

.item__title {
  text-align: center;
  font-size: 2em;
}

.item__text {
  text-align: justify;
}